<div class="container header-container">
    <section id="header">

        <a href="#"><img class="LogoShop" src="Images/LogoShop.png" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a class="active">Add product</a></li>
                <li><a asp-controller="Admin" asp-action="ListProducts">List Products</a></li>
                <li><a asp-controller="Admin" asp-action="ListCustomers">List customers</a></li>
                <li><a asp-controller="Admin" asp-action="History">History</a></li>
            </ul>
        </div>
    </section>
</div>


<div class="UserForm">
    <section class="UserFormSectionADDPro">
        <form method="POST" asp-controller="Admin" asp-action="AddProductPost">
            <h3>Add product:</h3>
            <input name="ProductName" type="text" placeholder="Product name">
            <input name="ProductCategory" type="text" placeholder="Product category">
            <input name="QuantityInStock" type="text" placeholder="Quantity in Stock">
            <input name="ProductPrice" type="text" placeholder="Product price">
            <textarea class="ProductDescriptionInput" name="ProductDescription" rows="4" cols="50" placeholder="Description"></textarea>
            <button type="submit">Add product</button>
        </form>
    </section>
</div>

<div class="footer">
    <footer>
        <div class="row">
            <div class="column">
                <img class="LogoShop" src="Images/LogoShopWhiteBG.png" alt="">
                <p>Lorem ipsum dolor sit amet consectet</p>
            </div>
            <div class="column ">
                <h4>Contact</h4>
                <p><span>adresse: </span>23 Avenue de l'Europe Schiltigheim France</p>
                <p><span>email: </span>youssef.korsa@gmail.com</p>
                <p><span>Phone: </span>06 88 99 19 52</p>
            </div>
            <div class="column ">
                <h4>Links</h4>
                <a href="#">Home</a>
                <a href="#">Shop</a>
                <a href="#">About us</a>
                <a href="#">Contact</a>
                </ul>
            </div>
            <div class="column ">
                <h4>Follow us</h4>
                <div class="social-media">
                    <i class="fa fa-facebook fa-lg"></i>
                    <i class="fa fa-instagram fa-lg"></i>
                    <i class="fa fa-whatsapp fa-lg"></i>
                    <i class="fa fa-github fa-lg"></i>
                </div>

            </div>
        </div>

    </footer>
</div>

<div class="Copyrights">
    <p>Designed by KORSA Youssef-Copyrights 2024</p>
</div>