@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

/* Global Styles */

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}




/*****************  header  ***************************/

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

.LogoShop {
    width: 200px;
}

.header-container {
    background-color: #E3e6F3;
    box-shadow: 0 5px 15px rgb(0,0,0,0.1 );
    position: sticky;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: last baseline;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

    #navbar li {
        list-style: none;
        padding-left: 2rem;
    }

    #navbar a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: #591F27;
        transition: 0.3s ease;
    }

        #navbar a:hover,
        #header a.active {
            text-decoration: none;
            font-size: 16px;
            font-weight: 600;
            color: #DA5726;
            padding-bottom: 3px;
            border-bottom: #DA5726 2px solid;
        }
/************  Main Header *************************************/
.MainContainer {
    background-image: url("../Images/hero4.png");
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    display: flex;
    align-items: center;
}

.mainSection {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

    .mainSection h4 {
        padding-bottom: 40px;
    }

    .mainSection h2 {
        color: #591F27;
    }

    .mainSection h1 {
        color: #DA5726
    }

    .mainSection button {
        background-image: url("../Images/button.png");
        background-color: transparent;
        border: 0;
        padding: 14px 80px 14px 65px;
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
    }

/**************** Banner section ********************************/


.promo {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: center;
    align-items: center;
    border-top: .8px solid #cce7d0;
}




#bannerSection {
    width: 90%;
    margin: auto;
    display: flex;
    height: 50vh;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.bannerBox {
    width: 48%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    padding-left: 30px;
    background-image: url("../Images/b17.jpg");
    background-size: cover;
    background-position: center;
}

#bannerSection h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

#bannerSection h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 650;
}

#bannerSection span {
    color: #fff;
    font-size: 18px;
    font-weight: 550;
    padding-bottom: 20px;
}

#bannerSection button {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 15px 25px;
    background-color: transparent;
    border: #fff 1px solid;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

    #bannerSection button:hover {
        background-color: #088178;
        border: #088178 1px solid;
    }


.bannerBox2 {
    background-image: url("../Images/b10.jpg");
}

#bannerSection2 {
    width: 90%;
    margin: auto;
    display: flex;
    height: 35vh;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.bannerBoxS2 {
    width: 31%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
    background-image: url("../Images/b4.jpg");
    background-size: cover;
    background-position: center;
}

.bannerBoxSB3 {
    background-image: url("../Images/b18.jpg");
}

.bannerBoxSB2 {
    background-image: url("../Images/b7.jpg");
}

#bannerSection2 h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 650;
}

#bannerSection2 h3 {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}
/******************** Features *******************************/

#featureSection {
    width: 90%;
    margin: auto;
    display: flex;
    height: 40vh;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.featureBox {
    width: 16%;
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 20px 20px 34px rgb(0, 0, 0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 8px;
}

    .featureBox:hover {
        box-shadow: 10px 10px 50px rgb(89,31, 73,0.2);
    }

    .featureBox h6 {
        display: inline-block;
        padding: 9px 8px 6px 8px;
        line-height: 1;
        background-color: #fff2e5;
        margin-top: 10px;
        border-radius: 6px;
        color: #591F27;
    }

    .featureBox img {
        min-width: 100%;
        ;
    }

/**************** newsLetterSection **********************/

.newsLetter {
    background-color: #041e42;
}

#newsLetterSection {
    width: 90%;
    margin: auto;
    display: flex;
    height: 25vh;
    justify-content: space-between;
    align-items: center;
    background-color: #041e42
}

    #newsLetterSection h4 {
        font-size: 22px;
        font-weight: 700;
        color: white;
    }

    #newsLetterSection p {
        font-size: 14px;
        font-weight: 600;
        color: white;
    }

    #newsLetterSection i {
        color: #ffdb27;
    }

.newsLetterForm {
    display: flex;
    width: 40%;
}

#newsLetterSection input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    border: 1px solid transparent;
    outline: none;
    width: 70%;
}

#newsLetterSection button {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 15px 25px;
    border: #fff 1px solid;
    outline: none;
    cursor: pointer;
    background-color: #088178;
    border: #088178 1px solid;
}

/***************** Footer **********************************/
footer {
    width: 90%;
    margin: auto;
    border-top: 0.5px solid #088178;
}

.row {
    width: 100%;
    display: flex;
    height: 35vh;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 40px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


footer p {
    margin: 0;
}

footer img {
    margin-top: 0;
    margin-bottom: 10px;
}

footer h4 {
    font-size: 16px;
    padding-bottom: 20px;
}

footer p {
    font-size: 14px;
    padding-bottom: 8px;
}

footer a {
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 8px;
    color: #222;
}

footer span {
    font-weight: 700;
}

footer i {
    padding-right: 4px;
    color: #465b52;
    cursor: pointer;
}

.Copyrights {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: 0.5px solid #088178;
}

    .Copyrights p {
        font-size: 13px;
        margin-bottom: 20px;
    }

/********** Shop page ***********************************/

.MainContainerShop {
    background-image: url("../Images/b111.jpg");
    height: 40vh;
    width: 100%;
    background-position: top 20% right 0;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    z-index: -1;
}

.mainSectionShop {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    backdrop-filter: blur(2px);
}

    .mainSectionShop p {
        color: white;
    }

    .mainSectionShop h2 {
        color: white;
    }

/******** Products section *********************/

.productsSection {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

    .productsSection .product {
        width: 23%;
        min-width: 250px;
        padding: 10px 12px;
        margin-right: 2%;
        margin-top: 20px;
        border: 1px solid #cce7d0;
        border-radius: 16px;
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
        transition: 0.2s ease;
    }

        .productsSection .product:hover {
            box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
        }

.product img {
    width: 100%;
    border-radius: 18px;
    cursor: pointer;
}

.productsSection .product .description {
    text-align: start;
    padding: 10px 0;
}

    .productsSection .product .description span {
        color: #606063;
        font-size: 12px;
    }

    .productsSection .product .description h5 {
        padding-top: 8px;
        color: #1a1a1a;
        font-size: 15px;
    }

    .productsSection .product .description i {
        font-size: 12px;
        color: rgb(243, 181, 25);
    }

.productsSection .product .buy h4 {
    font-size: 15px;
    font-weight: 700;
    padding-top: 7px;
    color: #088178;
}

.productsSection .product .cart {
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
}

.productsSection .product .buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*********** Product details **************************/
.productDetails {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
}

.productDetail {
    width: 53%;
}

.productImage {
    width: 42%;
}

    .productImage img {
        width: 100%;
    }

.productDetail h4 {
    padding: 40px 0 20px 0;
}

.productDetail h2 {
    font-size: 20px;
    color: #088178;
}

.productDetail select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.productDetail input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    padding: 5px 10px;
    margin-right: 10px;
}

    .productDetail input:focus {
        outline: none;
    }

.productDetail button {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 15px 25px;
    border: #fff 1px solid;
    outline: none;
    cursor: pointer;
    background-color: #088178;
    border: #088178 1px solid;
}

.productDetail span {
    line-height: 25px;
}

/********** Cart *************************/
.cart table {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    margin-top: 40px;
}

    .cart table img {
        width: 80%;
    }

    .cart table td:nth-child(1) {
        width: 10%;
        text-align: center;
    }

    .cart table td:nth-child(2) {
        width: 25%;
        text-align: center;
    }

    .cart table td:nth-child(3) {
        width: 25%;
        text-align: center;
    }

    .cart table td:nth-child(4) {
        width: 10%;
        text-align: center;
    }

    .cart table td:nth-child(5) {
        width: 15%;
        text-align: center;
    }

    .cart table td:nth-child(6) {
        width: 10%;
        text-align: center;
    }

    .cart table td:nth-child(5) input {
        width: 70px;
        padding: 10px 5px 10px 15px;
    }

    .cart table thead {
        border-bottom: 1px solid #e2e9e1;
        border-top: 1px solid #e2e9e1;
    }

        .cart table thead td {
            font-weight: 650;
            font-size: 16px;
            padding: 18px 0;
        }

    .cart table tbody td {
        padding-top: 20px;
        font-size: 15px;
    }

.totalContainer {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

    .totalContainer .total {
        width: 50%;
        padding: 30px;
        margin-left: 0;
        margin-bottom: 20px;
        border: 1px solid #e2e9e1;
    }

        .totalContainer .total h3 {
            padding-bottom: 15px;
        }

.total table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

    .total table td {
        border-collapse: collapse;
        width: 50%;
        margin-bottom: 20px;
        border: 1px solid #e2e9e1;
        padding: 10px;
        font-size: 13px;
    }

.total button {
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    padding: 15px 25px;
    border: #fff 1px solid;
    outline: none;
    cursor: pointer;
    background-color: #088178;
    border: #088178 1px solid;
}

/*************** About ********************/

.MainContainerAbout {
    background-image: url("../Images/bannerAbout.png");
    height: 40vh;
    width: 100%;
    background-position: top 30% right 0;
    background-size: cover;
    display: flex;
    align-items: center;
}

.mainSectionAbout {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .mainSectionAbout p {
        color: white;
    }

    .mainSectionAbout h2 {
        color: white;
    }


#aboutSection {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: space-between;
}

    #aboutSection .AboutText {
        width: 50%;
        padding: 15px;
    }

#aboutImage {
    display: inline-block;
    width: 45%;
}


/*********** History ********************************/

.MainContainerHistory {
    background-image: url("../Images/a5.jpg");
    height: 40vh;
    width: 100%;
    background-position: top 20% right 0;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    z-index: -1;
}

.mainSectionHistory {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

    .mainSectionHistory p {
        color: white;
    }

    .mainSectionHistory h2 {
        color: white;
    }

.history table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    margin-top: 40px;
    margin-bottom: 40px;
}

    .history table img {
        width: 90%;
    }

    .history table td:nth-child(1) {
        width: 25%;
        text-align: center;
    }

    .history table td:nth-child(2) {
        width: 15%;
        text-align: center;
    }

    .history table td:nth-child(3) {
        width: 13%;
        text-align: center;
    }

    .history table td:nth-child(4) {
        width: 13%;
        text-align: center;
    }

    .history table td:nth-child(5) {
        width: 13%;
        text-align: center;
    }

    .history table td:nth-child(6) {
        width: 20%;
        text-align: center;
    }


    .history table thead {
        border-bottom: 1px solid #e2e9e1;
        border-top: 1px solid #e2e9e1;
    }

        .history table thead td {
            font-weight: 650;
            font-size: 16px;
            padding: 18px 0;
        }

    .history table tbody td {
        padding-top: 20px;
        font-size: 15px;
    }

.historyTitle {
    width: 80%;
    margin: auto;
    padding-top: 40px;
}

/**************** User Form *****************************/



.UserFormSection {
    width: 80%;
    margin: auto;
    height: 70vh;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .UserFormSection input {
        height: 3.125rem;
        padding: 0 1.25em;
        font-size: 14px;
        border: 1px solid black;
        outline: none;
        width: 90%;
    }

    .UserFormSection button {
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        padding: 15px 25px;
        border: black 1px solid;
        outline: none;
        cursor: pointer;
        background-color: #088178;
        border: #088178 1px solid;
        width: 90%;
        margin-top: 1.25em;
    }

    .UserFormSection h3 {
        margin-bottom: 30px;
    }

/************* Admin page - Add product ***********************/

.UserFormSectionADDPro {
    width: 80%;
    margin: auto;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .UserFormSectionADDPro input {
        height: 3.125rem;
        padding: 0 1.25em;
        font-size: 14px;
        border: 1px solid black;
        outline: none;
        width: 80%;
        margin-bottom: 1.25em;
    }

    .UserFormSectionADDPro button {
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        padding: 15px 25px;
        border: black 1px solid;
        outline: none;
        cursor: pointer;
        background-color: #088178;
        border: #088178 1px solid;
        width: 80%;
        margin-top: 1.25em;
    }

    .UserFormSectionADDPro h3 {
        margin-bottom: 30px;
    }

    .UserFormSectionADDPro p {
        margin-bottom: 10px;
    }


    .UserFormSectionADDPro .ProductDescriptionInput {
        height: 6.3rem;
        padding: 0 1.25em;
        padding-top: 1em;
        font-size: 14px;
        border: 1px solid black;
        outline: none;
        width: 80%;
        resize: none;
        
    }

    .inputAddImage input[type="file"] {
    display: none;
    }

.UserFormSectionADDPro .inputAddImage {
    height: 3.125rem; 
    display:block;
    text-align:center;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 15px 25px;
    border: black 1px solid;
    outline: none;
    cursor: pointer;
    background-color: #088178;
    border: #088178 1px solid;
    width: 30%;
    margin-top: 1.25em;
}

    .UserFormSectionADDPro  input[type="file"]
    {
        display:none;
    }
        /***************** ListCustomers ************************/
        #ListCustomers {
    min-height: 80vh;
    margin-bottom: 40px;
}

/**********************  AdminHistory  **********************************/
#AdminHistory {
    min-height: 80vh;
    margin-bottom: 40px;
}
/**********   ListProducts   ***********/
#ListProducts {
    min-height: 80vh;
    margin-bottom: 40px;
}