<div class="container header-container">
    <section id="header">

        <a href="#"><img class="LogoShop" src="Images/LogoShop.png" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="Shop">Shop</a></li>
                <li><a asp-controller="Home" asp-action="About">About</a></li>
                <li><a class="active" href="#">History</a></li>
                <li><a asp-controller="Home" asp-action="User"><i class="fa fa-user fa-lg"></i></a></li>
                <li><a asp-controller="Home" asp-action="Cart"><i class="fa fa-shopping-cart fa-lg"></i></a></li>

            </ul>
        </div>
    </section>
</div>

<div class="MainContainerHistory">
    <section class="mainSectionHistory">
    </section>
</div>

<section class="history">
    <div class="historyTitle">
        <h3>history of your purchases </h3>
    </div>

    <table>
        <thead>
            <tr>
                <td>Image</td>
                <td>Product</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Total</td>
                <td>Date de l'achat</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="ProductsImages/f1.jpg" alt=""></td>
                <td>Men's fashion T-shirt</td>
                <td>49$</td>
                <td>1</td>
                <td>49$</td>
                <td>Saturday, 27 January 2024</td>
            </tr>
        </tbody>
    </table>

</section>



<div class="footer">
    <footer>
        <div class="row">
            <div class="column">
                <img class="LogoShop" src="Images/LogoShopWhiteBG.png" alt="">
                <p>Lorem ipsum dolor sit amet consectet</p>
            </div>
            <div class="column ">
                <h4>Contact</h4>
                <p><span>adresse: </span>23 Avenue de l'Europe Schiltigheim France</p>
                <p><span>email: </span>youssef.korsa@gmail.com</p>
                <p><span>Phone: </span>06 88 99 19 52</p>
            </div>
            <div class="column ">
                <h4>Links</h4>
                <a href="#">Home</a>
                <a href="#">Shop</a>
                <a href="#">About us</a>
                <a href="#">Contact</a>
                </ul>
            </div>
            <div class="column ">
                <h4>Follow us</h4>
                <div class="social-media">
                    <i class="fa fa-facebook fa-lg"></i>
                    <i class="fa fa-instagram fa-lg"></i>
                    <i class="fa fa-whatsapp fa-lg"></i>
                    <i class="fa fa-github fa-lg"></i>
                </div>

            </div>
        </div>

    </footer>
</div>

<div class="Copyrights">
    <p>Designed by KORSA Youssef-Copyrights 2024</p>
</div>