<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <script src="https://kit.fontawesome.com/2c3df9d22f.js"></script>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Ecommerce Web site</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/admin.styles.css" asp-append-version="true" />
</head>
<body>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
